body{
    background-color: #f4f1de;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
}

h1{
    font-family: initial;
    text-align: center;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lch(61.77% 47.21 157.71);
}
ul{
    color: hsl(13, 58%, 46%);
}